<div class="row">
  <div class="large-3 columns" id="logo">
    <h1><%= link_to(image_tag('http://imgur.com/Ltlk9qp.jpg'), home_path) %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
    <li><%= link_to "Games", games_path, class: "button" %></li>
    <li><%= link_to "All Deals", items_path, class: "button" %></li>
    
    <li>
      <%= link_to cart_path(current_user), class: "button"  do %>
        <i class="fa fa-shopping-cart"></i> Cart (0) 
      <% end %>
    </li>
    <% if logged_in? %>
      <button href="#" data-dropdown="drop1" aria-controls="drop1" 
        aria-expanded="false" class="button dropdown"><i class="fa fa-user"></i> 
        <%= current_user.name %></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% if current_user.admin %>
          <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
        <% end %>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Order History</a></li>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
      </ul>
    <% else %>
      <li><%= link_to 'Sign In', login_path, class: 'button' %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
  </div>
</div>
