<div class="row">
  <div class="large-6 large-centered columns">
    
    <%= simple_form_for @game do |f| %>
    
      <%= render 'shared/error_messages' %>
    
      <%= f.input :title %>
      <%= f.input :slug %>
      <%= f.input :link %>
      <%= f.input :image %>
      <%= f.input :banner %>
      </br>
      <div class="large-5 large-centered columns">
        <%= f.button :submit, 'Add Game' %>
      </div>
    <% end %>
    
  </div>
</div>