<form>
  <div class="row">
    <div class="large-6 large-centered columns">
      <h1 class="text-center">Sign Up</h1>
      <%= render 'static_pages/quote' %>
      </br>
      <%= simple_form_for @user do |f| %>
        <%= f.input :email %>
        <%= f.input :name, label: 'Name' %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        </br>
        <div class="large-5 large-centered columns">
          <%= f.button :submit, 'Sign Me Up!' %>
        </div
      <% end %>
    </div>
  </div>
</form>