<%= render 'static_pages/header' %>

<% @games.each do |game| %>
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <div id="game-logo">
        <%= image_tag game.image %>
      </div>
      <div id="game-info">
        <h2><%= game.title %></h2>
        <p><%= game.slug %></p>
        <%= link_to "View Deals", game_items_path(game), class: "button" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'static_pages/footer' %>

