<%= render 'static_pages/header' %>

<div class="row">
  <div class="large-12 columns">
  
    <hr>
  
    <div class="row">

 

      <div class="large-4 small-12 columns">

        <%= image_tag @banner %>

        <div class="hide-for-small panel">
          <h3><%= @game_title %></h3>
          <h5 class="subheader"><%= @game_desc %></h5>
        </div>

        <a href="#">
        <div class="panel callout radius">
          <h6>99 items in your cart</h6>
        </div>
        </a>

      </div>

      <div class="large-8 columns">
          <% @items.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |item| %>
                <div class="large-4 small-6 columns end" id="image-block">
                  <%= image_tag item.image %>
      
                  <div class="panel">
                    <h4 id = "item-title"><%= item.title %></h4>
                    <h6 id = "item-desc"><%= item.slug %></h6>
                    <h6 class="subheader"><%= "$#{"%5.2f" % item.price}" %></h6>
                    <%= link_to "Purchase", '#', class: "button" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
      
    </div>
  </div>
</div>

<%= render 'static_pages/footer' %>