<%= render 'static_pages/header' %>

<div class="row">
<hr>

<div class="row">
  <div class="large-7 columns">
    <ul class="breadcrumbs">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to @game.title, game_items_path(@game) %></li>
      <li class="current"><%= @item.title %></li>
    </ul>
  </div>
</div>


<div class="large-7 columns" id="item-image">
  <%= image_tag @item.image %>
</div>
<div class="large-5 columns">
  <div id="item-info">
    <h1><%= @item.title %></h1>
    <p><%= @item.description %></p>
  </div>
  <div class="panel" id="checkout">
    <h5 class="large"><strong><%= "$#{"%5.2f" % @item.price}" %></strong></h5>
  <a href="#" class="button">Add to Cart</a>
  </div>

</div>
</div>

<div class="row">
<hr/>
<div class="large-6 columns">
  <h4>This is a content section.</h4>
  <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
</div>
<div class="large-6 columns">
  <h4>This is a content section.</h4>
  <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</div>
</div>

<div class="row">
<hr>
<div class="large-12 columns">
  <h4>You might also like:</h4>
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
</div>
</div>

<%= render 'static_pages/footer' %>